<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="constring" connectionString="data source=MAHESH-PC;Initial Catalog=Test; uid=sa; pwd=Test123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="EmployeeService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="IEmployeeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment  multipleSiteBindingsEnabled ="true">
      <baseAddressPrefixFilters>
        
  <add prefix="http://wcfservice-1.apphb.com"/>
  
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>-->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RESTFulWCFService.Calculator">
        <endpoint address="" contract="RESTFulWCFService.ICalculator" binding="basicHttpBinding"/>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="AspNetAppHarborIntegration" />
      <add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />
    </modules>
  </system.webServer>
</configuration>
