<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="constring" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="RESTFulWCFService.EmployeeService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="RESTFulWCFService.IEmployeeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment  multipleSiteBindingsEnabled ="true">
      <baseAddressPrefixFilters>
        <add prefix="http://wcfservice-1.apphb.com"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="AspNetAppHarborIntegration" />
      <add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />
    </modules>
  </system.webServer>
</configuration>
